<div class="demo-container">
  <h1 class="text-3xl pb-4">Raking</h1>
  <EmberTable as |t|>
    <t.head
      @columns={{this.columns}}
      @sorts={{sorts}}

      @onUpdateSorts={{action (mut sorts)}}

      {{!-- @widthConstraint='gte-container'
      @fillMode='first-column' --}}
      @enableReorder={{false}}
    />

    <t.body @rows={{model}} as |b|>
      <b.row as |r|>
        <r.cell as |value meta object|>
          {{#if (eq meta.valuePath "Nombre Institución")}}
            <LinkTo
              class="font-bold text-blue-500"
              @route="institution"
              @model={{object.No}}
            >
              {{value}}
            </LinkTo>
          {{else if (contains meta.valuePath this.scoreValuesPaths)}}
            <div {{add-tippy meta.valuePath}} class="bg-{{if (eq value "SI") "green" "red"}}-500 w-full h-full">
            </div>
          {{else if (contains meta.valuePath this.gradientScoreValuesPaths)}}
            <ScoreColor
              class="w-full h-full text-center font-bold text-gray-900"
              @score={{value}}
              @label={{meta.valuePath}}
            />
          {{else}}
            {{value}}
          {{/if}}

        </r.cell>
      </b.row>
    </t.body>
  </EmberTable>
</div>