<table>
  <thead>
    <tr>
      {{#each-in model.firstObject as |key value|}}
        <th>{{key}}</th>
      {{/each-in}}
    </tr>
  </thead>
  <tbody>
    {{#each model as |row|}}
      <tr>
        <td>
          {{get row "No."}}
        </td>
        <td>
          {{get row "Entidad"}}
        </td>
        <td>
          <AreaGraph @score={{get row "Portal Electr贸nico"}} @maxScore={{30}} />
        </td>
        <td>
          <AreaGraph @score={{get row "Informe Anual"}} @maxScore={{5}} />
        </td>
        <td>
          <AreaGraph @score={{get row "Resolver Inf Clasificada"}} @maxScore={{15}} />
        </td>
        <td>
          <AreaGraph @score={{get row "Capacitaci贸n"}} @maxScore={{5}} />
        </td>
        <td>
          <AreaGraph @score={{get row "Resolver Recursos"}} @maxScore={{15}} />
        </td>
        <td>
          <AreaGraph @score={{get row "Solicitud de Informaci贸n"}} @maxScore={{10}} />
        </td>
        <td>
          <AreaGraph @score={{get row "Gratuidad"}} @maxScore={{5}} />
        </td>
        <td>
          <AreaGraph @score={{get row "Transparencia activida (#29)"}} @maxScore={{5}} />
        </td>
        <td>
          <AreaGraph @score={{get row "Organizaci贸n UIP"}} @maxScore={{10}} />
        </td>
        <td>
          <AreaGraph @score={{get row "Formatos editables"}} @maxScore={{5}} />
        </td>
        <td>
          <ScoreColor @score={{get row "Nivel Cumplimiento"}} />
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
